/*General*/
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Roboto', serif;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #fcbd20;
}
/*Botones*/
.botonTransparente
{
  background: transparent;
  border: solid #000057 1px;
  padding: 10px 30px;
  color: #000057;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;

  text-align: center;
  cursor: pointer;
}
.botonTransparente:hover,.botonTransparente:focus,.botonTransparenteGaleria:hover,.botonTransparenteGaleria:focus
{
  color: #fff;
  border-color:#101d61;
  background: #101d61;
  text-decoration: none;
}
#todo_galeria{
  margin-top:50px;
}
.botonTransparenteGaleria {

    background: transparent;
    border: solid #ffffff 1px;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.botonAzul{
  padding: 15px 30px;
  text-align: left;
  background: rgba(16, 29, 97, 0.8);
  color: #e6e6e6;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.botonAzul span.anio{
  font-size: 12px;
  font-weight: 300;
}
.botonAzul span.glyphicon{
  float: right;
}

.botonAzul:hover,.botonAzul:focus{
    background: rgba(195, 8, 36, 0.8);
    color: #fff;
    text-decoration: none;
}


.chevron {
    margin-right: 15px;
    background: url(../images/chevron_rojo.png) no-repeat top left;
    display: inline-block;
    height: 15px;
    width: 26px;
}

.scrollEstilo a.scroll {
  position: absolute;
  bottom: 5px;
  left: 48%;
  /*right: 2%;*/
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
 
}
.scrollEstilo a.scroll:hover {
  opacity: .5;
}

section a.scroll, header a.scroll {
  padding-top: 70px;
}
section a.scroll span, header a.scroll span{
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
 
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.bgDorado{
  background-color: #a7a99d;
}
.bgDorado h3{
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding: 40px 0;
  font-size: 40px;
}

.bgTexto2{
  background: #fff;
  padding: 50px 0;
}
.bgTexto2 p{
  color: #000057;
  font-weight: 300;
}
.bgTexto2 p:first-child{
  font-size: 20px;
}

.bgTexto2 p:first-child span.con55{
  font-size: 30px;
}

.bgTexto2 p:last-child{
  font-size: 20px; 
}


/*Fin General*/
/*Menu*/

div.imago
{
  float: left;
  position: relative;
}
div.imago a, div.imago figure
{
  float: left;
}
div.imago a.imagoLasalle{
  margin-left: 5px;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #001b3e;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  margin: 0 5px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #001b3e;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #ffffff;
  border-bottom: #d0112b solid;
  padding-bottom: 5px;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: #d0112b solid;
  padding-bottom: 5px;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.navbar-default .navbar-brand{
  padding: 0;
}


/*Fin Menu*/
/*Header*/


/*Fin Header*/

/*Contenido*/

/*Inicio*/

header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1,header .header-content .header-content-inner h3 {
  text-align: left;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
}
header .header-content .header-content-inner h1 span.cimientos{
  font-size: 65px;
  font-weight: 500;
}
header .header-content .header-content-inner h1 span.deun{
  font-size: 65px;
  font-weight: 200;
}
header .header-content .header-content-inner h3{
  font-size: 20px;
  margin-left: 65px;
  letter-spacing: 10px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}

.portada{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vh;

  min-width:300px;
  color:#eee;
}
.portada:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,0.3) 100%);
}
.portada:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  background:#1B2030 url(../images/home/bg.jpg) center center no-repeat;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment:fixed;

  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
hr{
    border-top: 1px solid #a38c68;
    width: 20%;
    float: left;
    margin-left: 139px;
}
@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
/*Fin Inicio*/

/*Galeria*/
 section#galeria{
    padding: 7px 0;

  }
  section#galeria h2{
    padding: 7px 0;
    color: #fff;
    font-size: 45px;
  }
 section#galeria{
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #3f5b82;
  color: white;
  padding-bottom: 70px; 
}
section#galeria figure{
  cursor: pointer;
}
section#galeria figure img{
  margin: 0 auto;
}
section#galeria .col-sm-3, section#galeria .col-sm-3 .col-xs-6{
  padding: 0;
}
/*Estilos full Modal*/
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background: none;
}
.modal-header {
    padding: 15px;
    border-bottom: none;
}
.close{
  font-size: 70px;
  color: #fff;
  opacity: 1;
}
/*Fin Estilos full Modal*/
/*Estilos para lazy load youtube*/
.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  height: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* Fin Estilos para lazy load youtube*/

/*Fin Galeria*/

/*Prensa*/
 section#prensa{
  background-image: url('../images/prensa/hermanobg.jpg');
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.feedTwitter{
  margin: 2% 0;
  text-align: center;
}
section#prensa h2{
  font-size: 140px;
  font-weight: 500;
}
section#prensa p.nombre{
  font-size: 30px;
  font-weight: 300;
}
section#prensa p.descripcion{
  font-size: 15px;
  font-weight: 300;

}
section#prensa div.descripcion-2Content{
  background-color: #fff;
  color: #000057;
  font-size: 15px;
  font-weight: 400;
  padding: 35px 70px 35px 25px;
}
section#prensa div.descripcion-2Content p.resumenSemblanza{
  margin-bottom: 20px;
}
section#prensa div.contentPrensa{
  margin-top: 40%;
}
section#prensa div.descargasPrensa{
  padding: 20px 0;
}
section#prensa div.descargasPrensa a:hover,section#prensa div.descargasPrensa a:focus{
  text-decoration: none;
}
section#prensa span.fiel{
  font-size: 18px;
}

/*Fin Prensa*/

/*Ejes Transversales*/
 /*section#ejestransversales{
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("../img/bg-pattern.png"), #10818a;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #10818a, #000);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #10818a, #000);
  color: white;
}
*/
section#ejestransversales,section#videos {
  background-image: url('../images/ejestransversales/bg.png');
  position: relative;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  padding: 70px 0; 
}
section#ejestransversales h2, section#live h2 {
  color: #fff;
  font-size: 45px;

}
section#live h2{
    text-align: center;
}
section#ejestransversales ul
{
  color: #000057;
}
section#ejestransversales .panel-body p{
  font-size: 25px;
  color: #000057;
  font-weight: 300;
}
section#ejestransversales li
{
  margin: 1em 0;
  font-weight: 300;
  margin-left: 50px; 
}



.ejesContent{
  padding: 3% 0;
  color: #000;
}
.panel{
  border:none;
}
.panel-default>.panel-heading a.panel-title h4{
  margin: 0;
  position: fixed;
  top: 2em;
  /*left: 0;*/
  right: 45px;
  width: 100%;
  text-align: right;
  font-size: 40px;
  font-weight:300;
}
.panel-default>.panel-heading a.panel-title{
  text-decoration: none;
  color: #fff;
}
.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus{
  color: #b3b3b3;
}

.panel-heading{
  padding: 0;
}
/*chevron*/
.panel-heading .panel-title h4:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
    margin-left: 45px;
}
.panel-heading .panel-title.collapsed h4:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
/*Fin Ejes Transversales*/

/*Live*/
 section#live{
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #000;
  color: white;
}
.bgRed{
    background: #cc181e;
}
/*Contenedor del Video*/
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:0px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*Fin Contenedor del Video*/
/*Fin Live*/

/*Seccion Video*/
section#videos h2{
    padding: 7px 0;
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}
section#videos p.nombrevideo{
  color: #fff;
  text-align: right;
  font-size: 45px;
  font-weight: 300;
}
/*Fin Contenido*/

/*Footer*/

footer {
  text-align: center;
}
footer a{
  color: #101d61;
  font-weight: bold;
}
footer a:hover{
  text-decoration: none;
  color: #c30824;

}
footer div ul {
    list-style-image: url('../images/footer/icon_redArrow.png');
}
footer div ul li {
    float: right;
    margin-left: 50px
}

footer div ul li a {
    display: block;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
}

p.aviso, p.terminos{
  cursor: pointer;
  padding: 1% 0;
}
p.aviso:hover, p.terminos:hover{
  color: #c30824;
}
p.aviso.active,p.terminos.active{
  border-bottom: #c30824 solid 2px;
}
div.resumenAviso p, div.resumenTerminos p{
  text-align: left;
}

.bgGray{
  background: gray;
  padding-top: 1%;
}
div.redesSociales figure
{
  display: inline-block;
  padding: 2.2%;
}
div.redesSociales p
{
  color: #fff;
  text-align: left;
}
span.textoValor{
  font-size: 1.5em;
  color: gray;
  font-weight: 800;
}

ul.listaEscuelas a
{
  color:#fff;
  font-size: 0.8em;
}
footer div ul.listaEscuelas {
    list-style-image: url('../images/footer/icon_whiteArrow.png');
}
footer div ul.listaEscuelas li {
    margin-left: 25px
}

/*Fin Footer*/
/*Media Queries*/

@media (min-width: 250px) {

  header .header-content .header-content-inner h1 {
    font-size: 60px;
    text-align: center;
  }
  header .header-content .header-content-inner h1 strong{
    letter-spacing: 0.01em;
  }
      
  header .header-content .header-content-inner h1 span.cimientos, header .header-content .header-content-inner h1 span.deun{
    font-size: 40px;
  }

  .navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus{
    color: #000057;
  }
  .imago{
    margin-bottom: 10px;
  }

  section#prensa {
    background-image: url('../images/prensa/V_B.png');
    background-repeat: repeat;
    background-attachment: initial;
  }
 
  .portada{
    height:100vh;
  }
  .portada:before{
    background:#1B2030 url(../images/home/v.png) center center no-repeat;

  }
  section#prensa h2 {
      font-size: 100px;
  }

  .panel-default>.panel-heading a.panel-title h4 {
      top: -2em;
      /* left: 0; */
      right: 45px;
      font-size: 22px;
      position: relative;
  }
  .botonAzul{
    margin-bottom: 10px;
  }
 
  section#ejestransversales ul
  {
    padding: 0;
  }

  section#ejestransversales li
  {
    margin-left: 0px; 
  }
  p.descripcion{
    margin-bottom: 50px;
  }
  div.descripcion-2Content{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  div.descripcion-2Content p.tituloSemblanza{
    font-size: 20px;
    font-weight: bold;
  }
  .panel-default>.panel-heading a.panel-title h4{
    right: 20px;
  }
  /*chevron*/
  .panel-heading .panel-title h4:after {
      margin-left: 20px;
  }
  header .header-content .header-content-inner h3 {
    margin-left: 24px;
    font-size: 18px;
  }
  hr {
      width: 76%;
      float: left;
      margin-left: 24px;
  }
}
@media (min-width: 768px) {
  header .header-content .header-content-inner h1 span.cimientos, header .header-content .header-content-inner h1 span.deun{
    font-size: 65px;
  }
  .portada{
    height:50vw;
  }
  .portada:before{
    background:#1B2030 url(../images/home/bg.jpg) center center no-repeat;
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
    color: #fff;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #001b3e;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #001b3e;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #001b3e;
  }
  .navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  header {
    min-height: 100%;
  }
  header .header-content,section#live  {
    text-align: left;
    padding: 0;
    height: 100vh;
  }

  header .header-content
  {
    text-align: center;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    /*position: absolute;*/
    top: 50%;
    transform: translateY(-50%);
    left: 55%;
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
    margin-left: 0;
    text-align: left;
  }
  header .header-content .header-content-inner h3 {
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 10px;
  }
  hr{
    width: 20%;
    float: left;
    margin-left: 139px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
  section#prensa {
    background-position: center;
    background-image: url('../images/prensa/hermanobg.jpg');
     background-attachment: fixed;
  }
  
  .panel-default>.panel-heading a.panel-title h4{
    position: absolute;
    top: 2em;
    font-size: 40px;
  }
   section#ejestransversales ul
  {
    padding-left: 40px;
  }
  section#ejestransversales li
  {
    margin-left: 50px; 
  }
  .panel-default>.panel-heading a.panel-title h4{
    right: 45px;
  }
  /*chevron*/
  .panel-heading .panel-title h4:after {
      margin-left: 45px;
  }
  
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 85px;
    line-height: 66px;
  }
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}
.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

/*Animations*/

.fromTopIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromTopOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,-10px);
  opacity: 0.0;
}

.fromBottomIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromBottomOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,10px);
  opacity: 0.0;
}

.fromLeftIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromLeftOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(-10px,0);
  opacity: 0.0;
}

.fromRightIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromRightOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(10px, 0);
  opacity: 0.0;
}

.scaleUpIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: scale(1.0,1.0);
  opacity: 1.0;
}

.scaleUpOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: scale(1.3,1.3);
  opacity: 0.0;
}

.scaleDownIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: scale(1.0,1.0);
  opacity: 1.0;
}

.scaleDownOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: scale(0.7,0.7);
  opacity: 0.0;
}